<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ec2metadata</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="ec2metadata.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ec2metadata</a>
      </div>
    </div>
  </nav>

    <div id='profilesect'>
    <h2>Profile Selection<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#profilecontent">&uarr;</button></h2>
    <div id='profile details'>
    <p>Current profile: <code><%= profiles.current_profile %></code></p>
  
    <p>ec2metadata supports multiple profiles which are discovered from <code>~/.aws/credentials</code>.  Select the profile here and it will be used to authorize future requets
    listing and assuming the roles and discovering your MFA token's serial.
    </p>

    <p>The profile's credentials are not exposed to consumers of the meta-data endpoints from AWS SDKs.  Only assumed roles are exposed to the applications.  </p>
     
    <form method='POST' action='/profiles/refresh'>
      <input type='submit' value='Refresh profiles and roles'>
    </form>

    <form method='POST' action='/profile'>
    
    <label for=profile>Profile:</label> <select name='profile' >
        <% profiles.names.each do |profile|
          %><option value='<%= profile %>'><%= profile %></option>
        <% end %>
        <option value=''>Unset Profile</option>
        </select>
    <p>If you enter MFA below, a session token for this profile can be used
    in lieu of an MFA token for role assumption later.  This token can be good for
    as much as one day (86400 seconds).
    </p>
    <p>
    MFA: <input type=number name='profile_mfa'></input>
    </p>
    <p>
    Duration (Seconds): <input type=number name='profile_mfa_time' value='86400'></input>
    </p>
    <p>
    <input type=submit>Select</input>
    </p>
    </form>
  </div>
  <form method='POST' action='/profile'>
  <input type='hidden' name='role' value=''></input>
  <input type='submit' value='Unset Profile'></input>
  </form>
  </div>

  <div id='assumerole'>
  <form method='POST' action='/authenticate'>
  <h2>Assume Role:</h2>
  <% if not profiles.current_profile %>
  <div><p><em>
    Since you don't have a profile chosen, you can't assume a role yet.
  </em></div></p>
  <% end %>
  <table>
    <tr>
      <td>Role</td>
      <td><input name='role' list='roles' style="width: 500px;" autocomplete="off">
      <datalist id='roles'>
      <% if profiles.profile
          profiles.profile.roles.each do |role|
            %><option value='<%= role %>'><%= role.gsub(/.*:role\//, '' ) %></option>
      <%  end 
        end 
      %>
      </datalist></td>
    </tr>
      <% if profiles.profile and profiles.profile.credentials %>
      <tr><td colspan=2 style='padding: 1em'>
      <p><em> Since an MFA token was entered at profile selection time, it needn't be entered here.  However, you're still free to do so if you like.  </em></p>
      </td></tr>
      <% end %>
    <tr>
      <td>MFA Device
      </td>
      <td>
        <select name='serial' style="width: 500px;">
        <% if profiles.profile
            profiles.profile.mfa_devices.each do |mfa_device|
              %> <option value='<%= mfa_device %>'><%= mfa_device %></option>
        <% end 
          end
        %>
        </select>
        <option>
      </td>
    </tr>
    <tr><td>Duration</td>
      <td><input name='duration' value='1800' style="width:150px;"></input></td>
    </tr>
    <tr>
      <td>MFA Token</td>
      <td><input type='number' name='mfa' style="width:150px;" ></input></td>
    </tr>
    <tr><td rowspan='2'><input style="background-color: #ffafaf" type='submit' value='Assume Role'></input></td></tr>
  </table>
  </form>

  </div>
    <% if profiles.profile %>
      <h3>Current Role</h3>
      <% if profiles.profile.credentials %>
        <p>Since your profile is MFA authenticated until <%=profiles.profile.credentials['Expiration']=%>,
        you can <a target='_blank' href='/config/<%= profiles.profile.current_role %>'>Generate an aws config which will automatically
        assume this role</a>. This provides some <a href='/using-config'>useful functionality</a>. </p>
      <% else %>
        <p>Provide MFA at profile selection time for additional options.</p>
      <% end %>
      <iframe width='95%' src='/latest/meta-data/iam/security-credentials/'>
      </iframe>

      <h3>Current Exposed Identity</h3>
      <p>This identity is straight from <kbd>aws sts get-caller-identity</kbd>.</p>
      <iframe width='95%' src='/identity'>
      </iframe>
    <% end %>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
