<div class="profiles">
  <div class="explanation">
  <p>
  Profiles are loaded from <%= awsProfiles.credential_source =%>.  
  To be included in this list, the profile must have configuration fields 
  <code>aws_access_key_id</code> and <code>aws_secret_access_key</code>; otherwise 
  they"ll be excluded.
  </p>
  </div>
<div class="profilelist">
<% awsProfiles.profiles.each do |profile_name| %>
<div class="profile">
<% profile = awsProfiles.profile(profile_name) %>
  <div class="prof" --data-expiration="<%= profile.expiration =%>" >
    <h3><%= profile.name =%></h3>
    <% if profile.expiration and not profile.expired? %>
    <p class="expiresat"><%= profile.expiration =%></p>
    <% else %>
    <form action="/v2/profiles/<%= profile.name =%>/mfa" method=POST>
    <p><input type="number" min=100000 max=999999 name="mfa"></input></p>
    <p><button>Get MFA Session Token</button></p>
    </form>
    <% end %>
    <!-- todo: this should only display when not already exposed -->
    <form action='/v2/profiles/<%= profile.name =%>/expose' method=POST>
    <p><button>Expose</button></p>
    </form>
  </div>
  <div class="roles">
    <!--<h4>Roles</h4>-->
    <div class="role"><h4>Role #1</h4></div>
    <div class="role"><h4>Role #2</h4></div>
    <div class="role"><h4>Role #3</h4></div>
    <div class="role">
      <h4>Add a role...</h4>    
      <form action='/v2/profiles/<%= profile.name =%>/roles' method='POST'>
      <p><label for='role_arn'>Arn</label>: <input type="text" name="role_arn"></input> </p>
      <p><label for='role_mfa'>MFA</label>: <input type="number" min=100000 max=999999 name="role_mfa"></input>
      </form>
    </div>
  </div>
</div><!-- profile <%= profile.name =%> -->
<% end %>
</div><!-- profilelist -->
</div><!-- profiles -->
